<section class="about">
	<img class="about__figure-bg" src="img/about-figure-bg.svg">
	<div class="abour__container container">
		<div class="about__wrapper">
			<div class="about__left">
				<h2 class="about__title title">
					Пара слов о нас
				</h2>
				<p class="about__text">
					<q class="about__quote">
						Спорт держит нас в&nbsp;форме. Учит дисциплине. Объединяет нас. Через спорт мы&nbsp;можем менять жизни.
						В&nbsp;том числе
						с&nbsp;помощью воодушевляющих историй спортсменов. Чтобы помочь тебе подняться и&nbsp;двигаться вперед.
					</q>
					<cite class="about__autor">SneakMax</cite>
				</p>
			</div>
			<div class="about__image">
				<div class="about__image-inner">
				</div>
			</div>
		</div>
	</div>
</section>