<header class="header">
  <div class="header__container container grid">
    <div class="header__left">
      <a class="logo header__logo">SneakMax</a>
    </div>
    <div class="header__right">
      <nav class="nav header__nav">
        <ul class="nav__list list-reset">
          <li class="nav__item"><a class="nav__link" href="#">Каталог</a></li>
          <li class="nav__item"><a class="nav__link" href="#">О нас</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Подбор товара</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Наша команда</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Доставка и оплата</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Контакты</a></li>
        </ul>
      </nav>

      <div class="header__cart cart">
        <button class="cart__btn btn-reset">
          <svg>
            <use xlink:href="img/sprite.svg#cart"></use>
          </svg>
          <div class="cart__count">1</div>
        </button>
      </div>
    </div>


  </div>
</header>