<section class="team">
	<img src="img/team-bg.svg" alt="" class="team__bg-img">
	<div class="container">
		<h2 class="team__title title">Наша команда</h2>
		<ul class="team__list list-reset ">
			<li class="team__list-item">
				<img src="img/team-1.jpg" alt="" class="team-list-img">
				<strong class="team__name">
					Максим Золотарев
				</strong>
				<span class="team__post">
					Администратор
				</span>
			</li>
			<li class="team__list-item">
				<img src="img/team-2.jpg" alt="" class="team-list-img">
				<strong class="team__name">
					Максим Золотарев
				</strong>
				<span class="team__post">
					Администратор
				</span>
			</li>
			<li class="team__list-item">
				<img src="img/team-3.jpg" alt="" class="team-list-img">
				<strong class="team__name">
					Максим Золотарев
				</strong>
				<span class="team__post">
					Администратор
				</span>
			</li>
			<li class="team__list-item">
				<img src="img/team-4.jpg" alt="" class="team-list-img">
				<strong class="team__name">
					Максим Золотарев
				</strong>
				<span class="team__post">
					Администратор
				</span>
			</li>
			<li class="team__list-item">
				<img src="img/team-5.jpg" alt="" class="team-list-img">
				<strong class="team__name">
					Максим Золотарев
				</strong>
				<span class="team__post">
					Администратор
				</span>
			</li>
			<li class="team__list-item">
				<img src="img/team-6.jpg" alt="" class="team-list-img">
				<strong class="team__name">
					Максим Золотарев
				</strong>
				<span class="team__post">
					Администратор
				</span>
			</li>
		</ul>
	</div>
</section>