:root {
  //COLOR
  --color-eastbay: #484283;
  --color-black: rgb(182, 116, 116);
  --color-white: #fff;
  --color-accent: #f14f4f;
  --color-main-hover: #31343c;
  --color-mojo: #cc4949;
  --color-text: #444b58;
  --color-bg: #fff4ee;
  --color-cameo: #dbbba9;
  --color-gray: #b2b5bb;
  --color-jambo: #808080;
  --color-mineshaft: #242424;

  //INDENTATION
  --grid-gap: 20px;
  --main-offset: 40px;
  --midle-offset: 30px;
  --section-padding: 60px;
  --small-offset: 10px;

  //FONTS
  --font-family: "Intro", sans-serif;
  --midle-high: 700 30px / 140% var(--font-family);
  --big-high: 600 36px / 140% var(--font-family);
  --small: 400 14px / 140% var(--font-family);
  --def: 400 16px / 140% var(--font-family);
  --btn: 600 16px / 100% var(--font-family);
  --price: 600 20px / 20px var(--font-family);
  --faq: 400 20px / 20px var(--font-family);
  --prehigh-book: 400 24px / 24px var(--font-family);
  --autor: 700 20px / 20px var(--font-family);
  --ques: 400 24px / 24px var(--font-family);
  --name: 700 24px / 24px var(--font-family);
}

$color: #dbbba9;
